:host {
    display: flex;
    flex-direction: column;
    height: 100vh;
    overflow: hidden;
}

mat-sidenav-container {
    height: 100%;
}

mat-sidenav {
    width: min-content;
    min-width: 200px;
    box-shadow: var(--mat-sys-level2);
}

mat-sidenav-content {
    overflow: hidden;
    display: flex;
    flex-direction: column;
}

a {
    text-decoration: none;
}