@use '@angular/material' as mat;

:host {
  display: contents;
}

mat-toolbar {
  @include mat.toolbar-overrides((
    container-background-color: var(--mat-sys-surface-container-highest),
  ));
}


.actions {
  margin-left: auto;
}


.spacer {
  flex: 1 1 auto;
}

.botao-tema-icon {
  width: 80px;
  height: 80px;
  border: none;
  background: none;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;

  .material-icons {
    font-size: 65px !important;
    color: #706f6f;
    line-height: 1;
  }
}



