<mat-card>
    <mat-card-header>
        <mat-card-title>Pets</mat-card-title>
        <button matFab extended (click)="add()">
            <mat-icon>add</mat-icon>
            Create
        </button>
    </mat-card-header>

    <mat-card-content>
        <div class="table-container">
            <table mat-table [dataSource]="petsPage.value()?.data || []">

                <!-- Name Column -->
                <ng-container matColumnDef="name">
                    <th mat-header-cell *matHeaderCellDef> Name </th>
                    <td mat-cell *matCellDef="let pet"> {{pet.name}} </td>
                </ng-container>

                <!-- Breed Column -->
                <ng-container matColumnDef="breed">
                    <th mat-header-cell *matHeaderCellDef> Breed </th>
                    <td mat-cell *matCellDef="let pet"> {{pet.breed}} </td>
                </ng-container>

                <!-- Age Column -->
                <ng-container matColumnDef="age">
                    <th mat-header-cell *matHeaderCellDef> Age </th>
                    <td mat-cell *matCellDef="let pet"> {{pet.age}} </td>
                </ng-container>

                <!-- Gender Column -->
                <ng-container matColumnDef="gender">
                    <th mat-header-cell *matHeaderCellDef> Gender </th>
                    <td mat-cell *matCellDef="let pet"> {{pet.gender}} </td>
                </ng-container>

                <!-- Adoption Status Column -->
                <ng-container matColumnDef="is_adopted">
                    <th mat-header-cell *matHeaderCellDef> Adopted </th>
                    <td mat-cell *matCellDef="let pet">
                    <mat-icon [color]="pet.is_adopted ? 'primary' : 'warn'">
                        {{ pet.is_adopted ? 'check_circle' : 'cancel' }}
                    </mat-icon>
                    </td>
                </ng-container>

                <ng-container matColumnDef="actions">
                    <th mat-header-cell *matHeaderCellDef> Actions </th>
                    <td mat-cell *matCellDef="let pet">
                        <button mat-icon-button color="primary" (click)="edit(pet)">
                        <mat-icon>edit</mat-icon>
                        </button>
                    </td>
                </ng-container>

                <!-- Table Headers & Rows -->
                <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
            </table>
            @if (petsPage.isLoading()) {
                @for (item of [].constructor(15); track $index) {
                    <mat-progress-bar mode="indeterminate" />
                }
            }
        </div>

        <mat-paginator #paginator [pageSizeOptions]="[5, 10, 25, 100]" [pageSize]="10" [length]="petsPage.value()?.count ?? paginator.length" (page)="loadNextPage($event)" />
    </mat-card-content>
</mat-card>
